.movies {
  position: relative;
  hr {
    color: #9ca4ab;
    width: 95%;
    margin: 0 auto;
  }

  p {
    margin: 10px 50px;

    span {
      font-weight: 900;
      margin-right: 10px;
    }
  }
}
